<h2>edit story</h2>
<form action="/stories/<%= @story.id %>" method="post">
  <input type="hidden" name="_method" value='patch'>
  edit story:<br><br>
  <textarea autofocus name="story[body]" rows="5" cols="50" placeholder="<%= @story.body %>"></textarea><br><br>
  <input type="submit" value="submit">
</form>
