<h2>home</h2>
<h3>prompts:</h3>

<!-- list all prompts on homepage -->
<ul class="no-bullets">
<% @prompts.each do |prompt| %>
  <li class="space-above"><a href="/prompts/<%= prompt.id %>"><%= prompt.idea %></a></li>
  <li>posted by: <a href="/users/<%= prompt.user_id %>"><%= prompt.user.username %></a></li>
<% end %>
</ul>

<!-- if user is logged in, display link to add new prompt -->
<br><br><br>
<% if logged_in? %>
  <div><a href="/prompts/new">create new prompt</a></div>
<% else %>

<!-- if user is not logged in, show link to log in -->
  <div><a href="/login">log in to create prompt and write your story</a></div>
<% end %>
