body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7def5+16,d3e9f7+29,e3f2fb+62,cee7f8+86 */
background: #c7def5; /* Old browsers */
background: -moz-linear-gradient(top,  #c7def5 16%, #d3e9f7 29%, #e3f2fb 62%, #cee7f8 86%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c7def5 16%,#d3e9f7 29%,#e3f2fb 62%,#cee7f8 86%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c7def5 16%,#d3e9f7 29%,#e3f2fb 62%,#cee7f8 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7def5', endColorstr='#cee7f8',GradientType=0 ); /* IE6-9 */
background-size: cover;
}

#main-title a {
  text-align: left;
  text-decoration: none;
}

.error {
  background: white;
  color: red;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  text-align: center;
}

a {
  color: black;
  text-decoration: underline;
}

.container {
  margin: 50px;
}

nav {
  letter-spacing: 1px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding-right: 20px;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 30px;
}

.status {
  float: left;
}

.nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

/* Change the link color to #111 (black) on hover */
.nav:hover {
  background-color: #595959;
}

/* make delete form button look like a link */
.link-button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #73243A;
}

/* prompt list - align left with no bullets */
.no-bullets {
  list-style: none;
  margin: auto;
  padding: 0;
}

.centered {
  text-align: center;
}

.space-above {
  padding-top: 20px;
}

img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.avatar {
  height: 60px;
  margin: 10px;
}

.avatar-no-margin {
  height: 60px;
  margin-right: 10px;
}

.posted-by {
  width: 200px;
}

.prompt-idea {
  width: 500px;
}

.link {
  color: #73243A;
}

.background {
  background-color: #333;
}

.button-link, input[type=submit] {
  text-decoration: none;
  padding: 10px 15px;
  background: #003366;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.button-link:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
.button-link:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}

.hidden {
  display: none;
}

.width {
  width: 60%;
  margin: auto;
}
