<nav>
  <ul class="nav-bar">
     <% if logged_in? %>
      <li class="status"><a class="nav" href="/users/<%= current_user.id%>">welcome, <%= current_user.username %></a></li>
      <li><a class="nav" href="/logout">logout</a></li>
     <% else %>
     <li class="status"><a class="nav" href="/login">you are not logged in</a></li>
      <li><a class="nav" href="/login">login</a></li>
      <li><a class="nav" href="/register">register</a></li>
     <% end %>
    <li><a class="nav" href="/">home</a></li>
  </ul>
</nav>