<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <h1 id="main-title"><a href="/">read.me</a></h1>
    <nav>
      <ul class="nav-bar">
         <% if logged_in? %>
          <li class="status"><a class="nav" href="/users/<%= current_user.id%>">welcome, <%= current_user.username %></a></li>
          <li><a class="nav" href="/logout">logout</a></li>
         <% else %>
         <li class="status"><a class="nav" href="/login">you are not logged in</a></li>
          <li><a class="nav" href="/login">login</a></li>
          <li><a class="nav" href="/register">register</a></li>
         <% end %>
        <li><a class="nav" href="/">home</a></li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
