<h2>register</h2>

<% if @errors %>
  <% @errors.each do |msg| %>
    <div class="error"><%= msg %></div>
  <% end %>
<% end %>

<form class='centered' method='post' action='/register'>
  <p>username:</p>
  <input autofocus type='text' name='user[username]'>
  <p>email:</p>
  <input type='text' name='user[email]'>
  <p>password:</p>
  <input type='password' name='user[password]'>
  <br><br>
  <input class='button' type='submit' value='register'>
  <br><br>
</form>

