<h2><%= @user.username %>'s profile</h2>

<!-- in controller for whatever resource: -->

<!-- # View all RESOURCES by a user
get '/users/:id/RESOURCES' do
  @user = User.find(params[:id])
  erb :user
end
 -->
